@font-face {
    font-family: "Lemon Tuesday";
src: url('../Fontes/Lemon Tuesday.otf');
}

@font-face {
    font-family: "barlley";
    src: url('../Fontes/love\ barlley.ttf');
}

body,
html {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background: rgb(160, 99, 240) !important;
}

img[alt="index"] {
    height: 100%;
    position: absolute;
    top: 0%;
}

@keyframes flutuando {
    from{ 
        top: 35%;     
}
    to{ 
        top: 30%; 
    }
}

#home {
    text-decoration: none;
    display: inline;
    font-family:  "barlley";
    color: rgb(255, 255, 255);
    position: absolute;
    right: 5%;
    top: 30%;
    font-size: 75px;
    animation: flutuando .9s ease-in-out 0s infinite alternate; 
} 